{% extends 'base.html' %}

{% block title %}<title>Все заявки</title>{% endblock %}

{% block content %}
<section>
    <h2>Список всех категорий</h2>
    <a href="{% url 'category-create' %}">Создать категорию</a>
    {% if category_list %}
        <ul class="list-group">
        {% for category in category_list %}
            <li class="list-group-item">
                <div>
                    <p>{{ category }}</p>
                    <a href="{% url 'category-delete' category.id %}">Удалить категорию</a>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <p>Список категорий пуст</p>
    {% endif %}
</section>
{% endblock %}