{% extends 'base.html' %}

{% block title %}<title>Ваши заявки</title>{% endblock %}

{% block content %}

    <h1>Информация о заявке</h1>
    <ul>
        <li>Название: {{ designrequest.title }}</li>
        <li>Описание: {{ designrequest.description }}</li>
        <li>Категория: {{ designrequest.category }}</li>
        <li>Дата: {{ designrequest.date }}</li>
        <li>Статус: {{ designrequest.get_status_display }}</li>
        {% if designrequest.comment %}<li>Комментарий: {{ designrequest.comment }}</li>{% endif %}
        <li>
            <div>
                <p>Изображение:</p>
                <img src="{{ designrequest.image.url }}" alt="Изображение заявки" width="500px">
            </div>
        </li>

        {% if designrequest.result_image %}
        <li>
            <div>
                <p>Результат:</p>
                <img src="{{ designrequest.result_image.url }}" alt="Результат" width="500px">
            </div>
        </li>
        {% endif %}
    </ul>

    {% if designrequest.status == 'n' %}
        <a href="{% url 'designrequest-delete' designrequest.id %}">Удалить заявку</a>
    {% endif %}

{% endblock %}