{% extends 'base.html' %}

{% block title %}<title>Ваши заявки</title>{% endblock %}

{% block content %}

    <h1>Список ваших заявок</h1>
    
    {% if designrequest_user_list %}
        <ul>
        {% for designrequest in designrequest_user_list %}
            <li>
                <div>
                    <p>Название: <a href="{{ designrequest.get_absolute_url }}">{{ designrequest.title }}</a></p>
                    <p>Описание: {{ designrequest.description }}</p>
                    <p>Категория: {{ designrequest.category }}</p>
                    <p>Дата: {{ designrequest.date }}</p>
                    <p>Статус: {{ designrequest.get_status_display }}</p>
                </div>
            </li>
        {% endfor %}
        </ul>
        
    {% else %}
        <p>Список заявок пуст</p>
    {% endif %}
    
{% endblock %}