{% extends 'base.html' %}

{% block title %}<title>Все заявки</title>{% endblock %}

{% block content %}

    <h1>Список всех заявок</h1>
    
    {% if designrequest_all_list %}
        <ul>
        {% for designrequest in designrequest_all_list %}
            <li>
                <div>
                    <p>Название: <a href="{{ designrequest.get_absolute_url }}">{{ designrequest.title }}</a></p>
                    <p>Описание: {{ designrequest.description }}</p>
                    <p>Категория: {{ designrequest.category }}</p>
                    <p>Дата: {{ designrequest.date }}</p>
                    <p>Статус: {{ designrequest.get_status_display }}</p>
                    <a href="{% url 'designrequest-update' designrequest.id %}">Изменить статус</a>
                </div>
            </li>
        {% endfor %}
        </ul>
        
    {% else %}
        <p>Список заявок пуст</p>
    {% endif %}
    
{% endblock %}