{% extends 'base.html' %}

{% block title %}<title>Ваши заявки</title>{% endblock %}

{% block content %}
<section>
    <h2>Список ваших заявок</h2>
    <form>
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>
    {% if designrequest_user_list %}
    <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for designrequest in designrequest_user_list %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Название: {{ designrequest.title }}</h5>
                    <p class="card-text">Описание: {{ designrequest.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Категория: {{ designrequest.category }}</li>
                    <li class="list-group-item">Дата: {{ designrequest.date }}</li>
                    <li class="list-group-item">Статус: {{ designrequest.get_status_display }}</li>
                </ul>
                 <div class="card-body">
                     <a href="{{ designrequest.get_absolute_url }}" class="card-link">Подробнее</a>
                     {% if designrequest.status == 'n' %}
                     <a href="{% url 'designrequest-delete' designrequest.id %}" class="card-link">Удалить заявку</a>
                     {% endif %}
                 </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% else %}
        <p>Список ваших заявок пуст</p>
    {% endif %}
</section>
{% endblock %}