* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
}

h1 > a {
    color: black;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}