<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Title</title>{% endblock %}
</head>
<body>
    {% block nav %}

    <nav>
        {% if user.is_authenticated %}
            <a href="/">Главная</a>
            <a href="{% url 'profile' %}">Профиль</a>
            <a href="{% url 'designrequest-create' %}">Создать заявку</a>
            <a href="{% url 'designrequest-list' %}">Мои заявки</a>
        {% else %}
            <a href="{% url 'login' %}">Вход</a>
            <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}
    </nav>

    {% endblock %}
    
    {% block content %}
    {% endblock %}

</body>
</html>