<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Title</title>{% endblock %}
</head>
<body>
    {% block content %}

    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Профиль</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выход</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Вход</a>
        <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}

    {% endblock %}
</body>
</html>